 @using Resources 
@{
    Layout = "/Views/Shared/_AuthLayout.cshtml";
    ViewBag.Title =  Config.SiteNameFa +  " | ورود به سایت";

    var InvalidLogin = ViewBag.InvalidLogin == null ? false : ViewBag.InvalidLogin;
}

<!--فرم لاگین-->
<div class="col-md-6 col-md-offset-3">
    <form asp-controller="Authentication"
          asp-action="index"
          asp-route-Area=""
          autocomplete="off"
          asp-route-RetUrl="@(ViewData["RetUrl"])"
          asp-route-MenuId="@(Context.Request?.Query["mid"])"
          class="form-horizontal" role="form" onsubmit="return Validate();">
        <div class="card card-login card-hidden">
            <div class="card-header text-center" data-background-color="rose">
                <h4 class="card-title">ورود به  @Config.SiteNameFa </h4>
            </div>
            <p class="category text-center">
                نام کاربری و کلمه عبور خود را وارد کنید.
            </p>
            <p class="category text-center text-danger error">
                @Html.Raw(ViewBag.Error)
            </p>
            <div class="card-content" style="padding:30px 15px;">
                <div style="height:0px; overflow:hidden; opacity:0">
                    <input type="text" id="username" />
                    <input type="password" id="pass" />
                </div>

                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">account_circle</i>
                    </span>
                    <div class="form-group label-floating">
                        <label class="control-label" style="display:block;">نام کاربری</label>
                        <input type="text" id="Username" name="Username" class="form-control required" autocomplete="off">
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">lock_outline</i>
                    </span>
                    <div class="form-group label-floating">
                        <label class="control-label" style="display:block;">کلمه عبور</label>
                        <input type="password" id="Password" name="Password" class="form-control required" autocomplete="off">
                    </div>
                </div>

                    <div class="form-group text-center">
                        <div class="">
                            <img alt="Captcha" id="imgcpatcha" src="@Url.Action("CaptchaImage","Captcha")" style="width: auto; height:60px;" />
                            <br /><small>با کلیک روی عکس، کد امنیتی بازنشانی می شود</small>
                        </div>
                    </div>
                    <div class="input-group text-center">
                        <span class="input-group-addon">
                            <i class="material-icons">security</i>
                        </span>
                        <div class="form-group label-floating">
                            <label class="control-label" style="display:block;">کد امنیتی</label>
                            <input type="number" id="captcha" name="captcha" class="form-control required">
                        </div>
                    </div>

            </div>
            <div class="footer text-center">
                <button type="submit" class="btn btn-rose btn-wd btn-lg">ورود به سایت</button>
            </div>
            <div class="text-center text-green">
            </div>
        </div>
    </form>
</div>



@section Scripts{
    @if (ViewData["Message"] != null)
    {
        <script>
            showNotification('@(ViewData["Message"].ToString())', 'danger');
        </script>
    }
    <script src="~/assets/VuePersianDateTimePicker/moment/moment.min.js"></script>
    <script src="~/Areas/Root/js/Login.js" asp-append-version="true"></script>
}